<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ69GKC1Za6PFxx9yZypoA3DGRdjy_xB8</string>
	<key>GCM_SENDER_ID</key>
	<string>648168001647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>windwail.InstagramFIrestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-16e86</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-16e86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648168001647:ios:1ae675c1b2c592dc3bbd9a</string>
</dict>
</plist>